*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* #5BA3A3   cor mei verde */
body{
    background-color: #6A8A85;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    position: relative;
    background-color: #264944;
    padding: 20px 0;
    border-bottom: 1px solid rgb(204, 210, 204);
    width: 100%;
}

.logo{
    color:black;
}

.menu{
    text-align: right;
    width: 80%;
}
.menu a{
    color:aliceblue;
    font-size: 14px;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.4s;
}
.menu a:hover{
    color: aquamarine;
}
.menu .btn-menu{
    background-color: #41a092;
    color: black;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    text-transform: uppercase;
}
.menu .btn-menu:hover{
    
    color: rgb(255, 255, 255);
}





.main{
    height: 90vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    
    
}
.center-intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-decoration: none;
    text-align: center;
    width: 37vw;
    height: 16vh;
    /* border: 3px solid black; */
}
.intro-txt-nome{
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 5vh;
}
.redes{
    position: relative;
    display: flex;
    justify-content: center;
    /* border: solid black 1px; */
    width: 100%;
    margin: 0 300px 0 300px;
}
span{
    margin: 5px;
}
.redes-ft{
    width: 75px;
    height: 75px;
    
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 5%;
    border: 3px solid white;
}
.intro-ft{
    margin-top: 4%;
}

.seta{
    position: absolute;
    top: 78vh;
    animation: move infinite 2s ease-in-out;
}
.setabaixo{
    width: 100px;
    height: 100px;
}


.sobre{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 0 2%;
    
}
.sobre1{
    
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: center;
}
.sobre1 h1{
    margin: 15%;
}

.t1-sobre{
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    
}

.t2-sobre{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.texto-meu{
    
    margin: 5% 0 0 5%;
}

.t1-tec{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-tec{
    margin: 0 300px 0 300px;
    display: flex;
    justify-content: center;
}
.icon-tec{
    width: 100px;
    height: 100px;
}


.projetos{
    height: 90vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.t1-projetos{
    display: flex;
    justify-content: center;
    margin: 5%;
}


#container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #6A8A85;
    flex-wrap: wrap;
    
}
.flip-card {
    width: 300px;
    /* width: 16vw;
    height: 24vh; */
    height: 450px;
    perspective: 1000px;
   
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(-180deg);
    
}
.flip-card .flip-card-inner{
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card .flip-card-back{
    transform: rotateY(-180deg);
}
.flip-card-inner{
    position: relative;
}
.flip-card-front, .flip-card-back{
    position: absolute;
    backface-visibility: hidden;

}
.flip-card-front-1{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    text-align: center;
}
.flip-card-front-2{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    text-align: center;
}
.flip-card-front-3{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    text-align: center;
}
.conteudo-card{
    background-color: #264944;
    /* background-color: #9DC9C3; */
    height: 450px;
    padding: 2px;
    width: 100%;
    border-radius: 30px;
    
}
.flip-card-image{
    width: 100%;
    height: 70%;
    object-fit:fill;
    border-radius: 30px;
    
}
.flip-card-image-front{
    width: 100%;
    height: 70%;
    object-fit:fill;
    border-radius: 30px;
    margin-top: 16%;
}
.btn-acesso{
    
    text-transform: uppercase;
    position: relative;
    background-color: #5BA3A3;
    color: black;
    border-radius: 20px;
    text-align: center;
    border:2px black;
    top: 5px;
    border: 4px solid #5BA3A3;
    box-shadow: 0 0 60px rgb(255, 255, 255);
    transform: translateY(-6px);
    
}
.btn-link{
    text-decoration: none;
}


footer{
    width: 100%;
}
.footer-link{
    text-decoration: none;
    transition: all 0.4s;
}
#footer_social_media .footer-link i{
    font-size: 1.5rem;
}

#footer_social_media .footer-link:hover{
    scale: 1.25;
    text-decoration: none;

}

#footer_content {
    background-color: #264944;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
#footer_contacts h1{
    margin-bottom: 0.75rem;
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(180, 178, 178);
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;

}
.footer-list .footer-link{
    color: rgb(180, 178, 178);
    transition: all 0.4s;
}
.footer-list .footer-link:hover{
    color: rgb(0, 250, 167);
    font-size: 1.5rem;
}

#footer_subscribe{
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
}
#footer_subscribe p{
    color: rgb(180, 178, 178);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: rgb(180, 178, 178);
    border-radius: 4px;
}
#input_group input{
    all: unset;
    padding: 0.5rem;
    width: 100%;
}  
#input_group button{
    background-color:rgb(0, 250, 167);
    border: none;
    padding: 0  1.25rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button:hover{
    scale: 1.10;
}
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #1f3532;
    color: rgb(180, 178, 178);
    font-size: 0.9rem;
    padding: 1.5rem;
}
@keyframes move {
    0%{margin-top: 0px;}
    50%{margin-top: 40px;}
    100%{margin-top: 0px;}

}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
   
}

@media screen and (max-width: 615px) {
    .menu a{
        color:aliceblue;
        font-size: 12;
        text-decoration: none;
        /* margin-right: 26; */
        transition: 0.4s;
        
    }
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }
    .center{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .logo{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro{
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro-ft{
        position: relative;
        margin-top: 45vh;
    }
    .center-intro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .intro-txt-nome .h1-nome{
       
        font-size: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }
    .intro-ft{
        position: relative;
        margin: auto;
        margin-top: 45vh;
    }
    .center-intro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        align-content: center;
    }
    .seta{
        position: absolute;
        top: 78vh;
        animation: move infinite 2s ease-in-out;
    }
    .setabaixo{
        width: 80px;
        height: 80px;
    }
    .intro-ft{
        display: block;
        visibility: hidden;
    }
    
   
}